* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #606060;
    margin: 0;
    background-color: #fff;
    min-width: 480px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button:hover {
    cursor: pointer
}

.container,
section {
    overflow: hidden
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto
}

.logo {
    clear: both;
    vertical-align: bottom;
    margin-top: 20px
}

.logo_text {
    float: left;
    padding: -46px 0 0 10px
}

.logo_text > a {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d6e70;
    margin: 3px 0 0 7px;
    text-decoration: none;
    display: block
}

.element1 {
    margin-top: 5px;
    padding-top: 8px
}

.element1,
.element2,
.element3,
.element4 {
    width: 7px;
    background-color: #8fc63d;
    border-radius: 3.5px;
    float: left
}

.element2 {
    margin: 16px 0 0 -7px;
    padding-top: 20px
}

.element3,
.element4 {
    margin-left: 6px;
    padding-top: 36px
}

.element4 {
    margin-top: 7px;
    padding-top: 29px
}

.menu {
    float: left;
    margin: 2px 0 0 114px
}

.menu li,
.menu ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.menu ul {
    padding: 0
}

.menu li {
    padding-left: 29px
}

.menu li:first-child {
    padding-left: 0
}

.login a,
.menu a {
    font-size: 13.2px;
    text-decoration: none;
    text-transform: uppercase
}

.menu a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #666;
    opacity: .67
}

.menu a:hover {
    color: #8fc63d
}

.login {
    float: left;
    width: 100px;
    opacity: .81;
    background-color: #add136;
    margin: 4px 0 0 75px;
    border-radius: 20px
}

.login a {
    opacity: .81;
    padding: 9px 28px;
    display: block
}

.login a:hover,
button.banner:hover {
    background: #666;
    border-radius: 20px
}

.full_width {
    background: url(../images/banner.jpg) no-repeat;
    background-size: 100% 100%;
    margin-top: 16px
}

.login a,
button.banner,
h1.banner {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff
}

h1.banner {
    padding-top: 144px;
    text-align: center;
    line-height: .1;
    letter-spacing: 1.1px;
    font-size: 50px
}

span.banner {
    font-size: 35.2px;
    font-weight: 400;
    color: #fff
}

.circle_img,
button.banner,
span.banner {
    text-align: center;
    display: block
}

button.banner {
    font-size: 19.2px;
    background-color: #99c50a;
    border: 0;
    padding: 23px 46px;
    border-radius: 20px;
    margin: 30px auto 99px
}

.banner_nav {
    float: right
}

a.banner_next {
    margin: 0 0 44px 30px;
    display: inline-block
}

.circle_img {
    margin: 30px auto
}

.presentation {
    font-size: 31.2px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    padding: 0 238px;
    line-height: 50px;
    margin-top: 36px
}

.presentation,
.privilege a,
p.presentation {
    font-family: 'Open Sans', sans-serif
}

p.presentation {
    opacity: .7;
    line-height: 1.8;
    text-transform: none;
    padding: 3px 10px;
    font-size: 19.2px;
    font-weight: 400;
    color: #515151
}

.privilege {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 34px 0 24px;
    margin-top: 146px
}

.privilege a {
    background-image: url(../images/Ellipse2.jpg);
    background-repeat: no-repeat;
    font-size: 33.2px;
    font-weight: 300;
    color: #656565;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .23);
    padding-bottom: 37px;
    width: 33.3%;
    margin-bottom: 65px
}

.privilege a:last-child {
    width: 33.4%
}

.privilege span {
    color: #fff;
    padding: 0 12px
}

.privilege a:hover {
    border-bottom: 1px solid #add136;
    background-image: url(../images/Ellipse.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1
}

h3.presentation {
    font-family: 'Open Sans', sans-serif;
    font-size: 25.2px;
    font-weight: 400;
    color: #add136;
    text-transform: none;
    text-align: left;
    padding: 0;
    margin: -17px 0 0
}

.glasses {
    float: left;
    padding: 37px 102px 84px 109px
}

.presentation_desc {
    margin-bottom: 107px
}

p.presentation_left {
    text-align: left;
    opacity: .67;
    font-size: 17.2px;
    font-weight: 400;
    color: #606060;
    line-height: 1.8;
    padding-right: 42px
}

.colum_left {
    width: 50%;
    background: #e2f8ff;
    float: left
}

.colum_right {
    width: 50%;
    background: #f5f9eb;
    float: left
}

h3.find {
    font-family: 'Montserrat', sans-serif;
    font-size: 23.2px;
    font-weight: 600;
    color: #515151;
    margin: 0;
    padding: 38px 0 8px
}

button.find,
p.find,
p.presentation_left {
    font-family: 'Open Sans', sans-serif
}

p.find {
    line-height: 1.8;
    padding-right: 45px;
    font-size: 17.2px;
    font-weight: 400;
    color: #515151
}

.container_right > p.find {
    padding-right: 0
}

.find_images {
    display: block;
    float: left;
    padding: 80px 47px 112px 10px
}

.colum_right img.find_images {
    display: block;
    float: left;
    padding: 92px 72px 121px 73px
}

button.find {
    background-color: #26a6d1;
    border: 0;
    border-radius: 10px;
    padding: 16px 25px;
    font-size: 14.9px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 50px
}

.colum_right button {
    background-color: #add136
}

.container_left {
    max-width: 510px;
    margin: 0 0 0 auto
}

.container_2 {
    max-width: 510px
}

.container_right {
    max-width: 510px;
    margin: 0 auto 0 0
}

.container_2 {
    margin: 0 0 0 auto
}

button.proposal,
h2.proposal {
    color: #515151;
    font-weight: 600
}

h2.proposal {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin: 67px 0 7px
}

.proposal {
    padding-left: 20px
}

p.proposal {
    text-align: left;
    padding: 5px 68px 0 19px;
    display: inline-block;
    width: 80%;
    float: left;
    margin: 0 0 56px
}

.options,
.proposal_left {
    overflow: hidden
}

button.proposal {
    border: 1px solid #b6b6b6;
    background: 0 0;
    opacity: .7;
    margin-top: -12px;
    margin-left: -1px;
    float: left
}

.options_container,
.triangle {
    background-repeat: no-repeat;
    z-index: 1
}

.options_container {
    background-size: cover;
    float: left;
    width: 29.6%;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    position: relative;
    padding-top: -3px;
    overflow: hidden;
    background-color: #fafafa;
    background-position: 0 0;
    margin: 0 19px 26px
}

img.main_img {
    position: absolute;
    top: 0;
    z-index: 0
}

.triangle {
    background-image: url(../images/triangle.png);
    background-position: top left;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 250px;
    position: inherit
}

.action_new,
.grb {
    color: #fff;
    position: absolute
}

.action_new {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
    top: 0;
    left: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    z-index: 1
}

.grb {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16.6px;
    font-weight: 400S;
    background-color: #26a6d1;
    border-radius: 5px;
    top: 155px;
    left: 143px;
    z-index: 3
}

.description_action,
.options_container span {
    font-family: 'Open Sans', sans-serif;
    color: #484848
}

.description_action {
    opacity: .7;
    line-height: 1.7;
    margin-top: 9px;
    font-size: 13.2px;
    font-weight: 400;
    padding: 0 19px 35px 25px
}

.options_container span {
    font-size: 17.2px;
    font-weight: 700;
    padding: 0 25px 8px 24px
}

.progress_bar {
    position: relative;
    top: -39px;
    padding: 0 12px
}

img.bar,
img.progress {
    position: absolute;
    top: 0;
    padding: 10px
}

.progress_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 600;
    color: #8d8d8d;
    overflow: hidden;
    padding: 0 25px 0 22px;
    margin-top: -13px
}

.progress_text p:first-child {
    float: left
}

.progress_text p:last-child {
    float: right
}

.options_container > hr {
    color: #d6d6d6;
    margin: 3px 25px 0 23px;
    opacity: .7
}

.details {
    float: right
}

a.see_details {
    text-decoration: none;
    padding: 20px 25px 27px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15.2px;
    font-weight: 600;
    color: #484848;
    opacity: .85;
    display: block
}

a.see_details::after {
    margin: 10px;
    background: url(../images/triangle_2.png) no-repeat top left;
    content: "";
    padding: 0 7px 4px;
    display: inline
}

.full_width_footer {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%
}

.comments h5,
.slogan,
p.slogan_desc {
    font-family: 'Open Sans', sans-serif;
    text-align: center
}

.slogan {
    font-size: 39.2px;
    font-weight: 600;
    color: #9ec02d;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding: 0 10px
}

.comments h5,
p.slogan_desc {
    margin: 0
}

p.slogan_desc {
    opacity: .7;
    line-height: 1.8;
    text-transform: none;
    font-size: 19.2px;
    font-weight: 400;
    color: #515151;
    padding: 0 48px
}

.comments {
    background: url(../images/dialog.png) no-repeat;
    background-position: top left;
    width: 397px;
    margin: 92px 0 0 32px
}

.comments h5 {
    font-size: 1.3em;
    font-weight: 600;
    color: #9ec02d;
    padding: 19px 12px 10px;
    letter-spacing: 1px
}

p.description_action:last-child {
    margin: 0;
    padding-bottom: 57px;
    padding-left: 36px;
    padding-top: 0
}

.comments_author {
    padding-left: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 39px
}

.comments_author span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15.2px;
    font-weight: 600;
    color: #494949;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-left: 18px
}

.comment_one {
    float: left;
    margin-bottom: 22px
}

.comment_two {
    float: right;
    padding-right: 40px
}

.sponsors {
    margin: 0 auto;
    padding: 45px 0 30px
}

footer hr {
    opacity: .11
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 400;
    color: #848484;
    text-align: center;
    padding: 3px
}

@media screen and (max-width:1050px) {
    .logo {
        margin-left: 20px
    }

    .menu {
        margin: 2px 0 0 60px
    }

    a.banner_next {
        margin: 0 30px 44px
    }

    .privilege {
        padding: 0 24px
    }
}

@media screen and (max-width:1035px) {
    .options {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .privilege {
        margin-top: 53px
    }

    .presentation_desc {
        margin-bottom: 68px
    }

    .circle_img {
        margin: 30px auto
    }

    .sponsors {
        display: none
    }

    footer hr {
        margin-top: 44px
    }

    .container_right > p.find,
    p.find {
        padding-right: 15px
    }

    .colum_right img.find_images {
        padding: 92px 35px 121px
    }
}

@media screen and (max-width:1005px) {
    .menu {
        margin: 2px 0 0 30px
    }

    .presentation {
        margin-top: 27px;
        font-size: 28px
    }

    .grb {
        top: 156px;
        left: 123px
    }

    img.bar,
    img.progress {
        padding: 8px
    }
}

@media screen and (max-width:980px) {

    .logo,
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .logo {
        -webkit-box-align: self-end;
        -ms-flex-align: self-end;
        align-items: self-end
    }

    .login,
    .menu {
        float: none;
        margin: 0 auto
    }

    .login {
        display: block;
        margin: 10px auto
    }

    img.bar,
    img.progress {
        padding: 6px
    }

    .menu a {
        padding: 0 3px
    }
}

@media screen and (max-width:950px) {
    h1.banner {
        line-height: 1.1;
        padding: 10px 20px;
        margin-top: 90px
    }

    .presentation {
        padding: 0 200px
    }

    button.proposal {
        margin: -22px 0 35px 19px
    }

    p.proposal {
        width: 100%;
        padding: 5px 22px 0
    }

    .grb {
        top: 148px;
        left: 138px
    }

    img.bar,
    img.progress {
        height: auto
    }

    span.banner {
        margin-top: -28px
    }

    .glasses {
        padding: 30px 40px 84px 67px
    }

    .colum_left,
    .colum_right {
        width: 100%
    }

    .container_left,
    .container_right {
        max-width: 100%
    }

    .find_images {
        padding: 80px 50px
    }

    .colum_right img.find_images {
        padding: 80px 80px 90px 50px
    }

    .options {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .options_container {
        width: 300px;
        margin: 30px 50px
    }

    .progress_bar {
        padding-left: 17px
    }

    .slogan {
        margin-top: -5px
    }

    .comment_one,
    .comment_two {
        float: none;
        width: 397px;
        margin: 10px auto
    }

    .comments {
        margin: 10px auto
    }

    .comments_author {
        padding-bottom: 23px
    }
}

@media screen and (max-width:870px) {
    .presentation {
        padding: 0 100px
    }

    p.presentation {
        font-size: 17px
    }

    .privilege a {
        font-size: 24px
    }

    .privilege span {
        display: inline-block;
        padding: 3px 14px
    }

    .options_container {
        width: 300px;
        margin: 30px
    }

    .slogan {
        font-size: 30px;
        margin-top: 10px
    }
}

@media screen and (max-width:760px) {
    h1.banner {
        font-size: 33px;
        margin-top: 60px
    }

    .banner_nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        float: none
    }

    a.banner_next {
        margin: 0 4px 44px 43px
    }

    button.banner {
        margin: 30px auto 55px
    }

    .presentation {
        font-size: 24px;
        padding: 0 50px
    }

    .privilege a {
        font-size: 21px
    }

    .privilege span {
        padding: 7px 15px
    }

    .presentation_desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px
    }

    h3.presentation {
        text-align: center
    }

    p.presentation_left {
        padding: 10px 20px;
        text-align: center
    }

    .glasses {
        padding: 0 40px 50px
    }

    .options_container {
        width: 300px;
        margin: 30px 50px
    }

    .slogan {
        font-size: 25px;
        margin-top: 10px
    }

    p.slogan_desc {
        font-size: 17px
    }
}

@media screen and (max-width:620px) {
    .privilege {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .privilege a {
        width: 100%;
        font-size: 20px;
        padding-bottom: 21px;
        margin-bottom: 36px
    }

    .privilege span {
        padding: 7px 16px
    }

    .privilege a:last-child {
        width: 100%
    }

    h3.presentation {
        font-size: 21px
    }

    p.presentation_left,
    p.slogan_desc {
        font-size: 15px
    }

    .find_images {
        padding: 80px 50px 98px
    }

    .colum_right img.find_images {
        padding: 80px 80px 126px 50px
    }

    button.proposal {
        margin: -22px 0 45px 19px
    }

    .slogan {
        font-size: 23px;
        margin-top: 10px
    }
}

@media screen and (max-width:590px) {
    .menu li {
        padding-left: 17px
    }

    .menu li:first-child {
        padding-left: 8px
    }

    p.presentation {
        font-size: 15px
    }
}

@media screen and (max-width:520px) {
    .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .menu li {
        padding-left: 14px
    }

    .presentation {
        font-size: 22px
    }

    .container_right > p.find,
    p.find {
        padding-right: 30px
    }

    .find_images {
        padding: 80px 50px 158px
    }

    .colum_right img.find_images {
        padding: 80px 80px 178px 50px
    }
}
