*{
	box-sizing:border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#606060;
	margin: 0px 0px;
	background-color:#ffffff;
}
.container {
	width:100%;
	max-width:1020px;
	margin:0 auto;
	overflow: hidden;
}

.logo{
	clear: both;
	vertical-align:bottom;
	margin-top: 20px;
}
.logo_text{
	float:left;
	padding: -46px 0 0 10px;
}
.logo_text > p{
	font-family: Nunito;	
	font-size: 32px;		
	font-weight: 400;	
	text-transform: uppercase;	
	color: #6d6e70;	
	margin: 4px 0 0px 10px;
}
.element1{
	width: 7px;
	height: 7px;
	background-color: #8fc63d;
	border-radius: 3.5px;
	float:left;
	margin-left:9px;
	margin-top:7px;	
}

.element2{
	width: 7px;
	height: 20px;
	background-color: #8fc63d;
	border-radius: 3.5px;
	margin:16px 0px 0px -7px;
	float:left;
	
}

.element3{
	width: 7px;
	height: 36px;
	background-color: #8fc63d;
	border-radius: 3.5px;
	margin-left:6px;
	float:left;
	
}
.element4{
	width: 7px;
	height: 29px;
	background-color: #8fc63d;
	border-radius: 3.5px;
	margin-left:6px;
	margin-top:7px;
	float:left;
}

.menu {
	
float: left;
margin: 6px 0 0 112px;

}
.menu ul{
	list-style-type:none;
	display:flex;
	padding: 0px;
}

.menu li{
	list-style-type:none;
	display:flex;
	padding-left: 29px;
}

.menu li:first-child {
	padding-left: 0;
}

.menu a{
	opacity: 0.67;
	font-family: OpenSans;
	font-size: 13.2px;
	font-weight: 600;
	color: #666666;
	text-decoration:none;
	text-transform: uppercase;

}

.menu a:hover{
	color: #8fc63d;
}

.login{
	float:left;
	width: 100px;
	opacity: 0.81;
	background-color: #add136;
	margin: 12px 0 0 29px;
	border-radius: 20px;
}

.login a {
	opacity: 0.81;
	font-family: OpenSans;
	font-size: 13.2px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
	display: block;
}

.login a:hover{
	background: #666666;
	border-radius: 20px;
}


.full_width{	
	background: url(../images/banner.jpg) no-repeat;
	background-size: 100% 100%;
	margin-top:21px;
	 
}


h1.banner {
	font-family: OpenSans;
	font-size: 49.2px;
	font-weight: 600;
	color: #ffffff;
	padding-top:168px;
	text-align:center;
	
}

span.banner  {
	font-size: 35.2px;
	font-weight: 400;
	color: #ffffff;
	display:block;
	text-align:center;
	
}

button.banner {
	font-family: OpenSans;	
	font-size: 19.2px;	
	font-weight: 600;	
	color: #ffffff;	
	display:block;	
	text-align:center;	
	background-color:#99c50a;	
	border:none;	
	padding: 26px 54px;	
	border-radius: 20px;	
	margin: 60px auto 99px auto;
}

button.banner:hover{
	background: #666666;
	border-radius: 20px;
}

.banner_nav {
	float:right;
}

a.banner_next {  	
   margin:0 0px 49px 33px;
   display:inline-block;
   
}