* {
    box-sizing: border-box;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #606060;
    margin: 0px 0px;
    background-color: #ffffff;
}

button:hover {
    cursor: pointer;
}

section {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    clear: both;
    vertical-align: bottom;
    margin-top: 20px;
}

.logo_text {
    float: left;
    padding: -46px 0 0 10px;
}

.logo_text > a {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d6e70;
    margin: 4px 0 0px 10px;
    text-decoration: none;
    display: block;
}

.element1 {
    width: 7px;
    /*    height: 7px;*/
    background-color: #8fc63d;
    border-radius: 3.5px;
    float: left;
    margin-left: 9px;
    margin-top: 5px;
    padding-top: 8px;
}

.element2 {
    width: 7px;
    /* height: 20px; */
    background-color: #8fc63d;
    border-radius: 3.5px;
    margin: 16px 0px 0px -7px;
    float: left;
    padding-top: 20px;
}

.element3 {
    width: 7px;
    /* height: 36px; */
    background-color: #8fc63d;
    border-radius: 3.5px;
    margin-left: 6px;
    float: left;
    padding-top: 36px;
}

.element4 {
    width: 7px;
    /* height: 29px; */
    background-color: #8fc63d;
    border-radius: 3.5px;
    margin-left: 6px;
    margin-top: 7px;
    float: left;
    padding-top: 29px;
}

.menu {

    float: left;
    margin: 6px 0 0 112px;

}

.menu ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
}

.menu li {
    list-style-type: none;
    display: flex;
    padding-left: 29px;
}

.menu li:first-child {
    padding-left: 0;
}

.menu a {
    opacity: 0.67;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 600;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;

}

.menu a:hover {
    color: #8fc63d;
}

.login {
    float: left;
    width: 100px;
    opacity: 0.81;
    background-color: #add136;
    margin: 12px 0 0 29px;
    border-radius: 20px;
}

.login a {
    opacity: 0.81;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    display: block;
}

.login a:hover {
    background: #666666;
    border-radius: 20px;
}


.full_width {
    background: url(../images/banner.jpg) no-repeat;
    background-size: 100% 100%;
    margin-top: 21px;

}


h1.banner {
    font-family: 'Open Sans', sans-serif;
    font-size: 49.2px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 168px;
    text-align: center;

}

span.banner {
    font-size: 35.2px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-align: center;

}

button.banner {
    font-family: 'Open Sans', sans-serif;
    font-size: 19.2px;
    font-weight: 600;
    color: #ffffff;
    display: block;
    text-align: center;
    background-color: #99c50a;
    border: none;
    padding: 26px 54px;
    border-radius: 20px;
    margin: 60px auto 99px auto;
}

button.banner:hover {
    background: #666666;
    border-radius: 20px;
}

.banner_nav {
    float: right;
}

a.banner_next {
    margin: 0 0px 49px 33px;
    display: inline-block;

}

.circle_img {
    text-align: center;
    margin: 98px auto 0 auto;
    display: block;
}

.presentation {
    font-family: 'Open Sans', sans-serif;
    font-size: 31.2px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    padding: 0 238px;
    line-height: 50px;
}

p.presentation {
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-size: 19.2px;
    line-height: 1.6;
    font-weight: 400;
    color: #515151;
    text-transform: none;
    padding: 13px 40px;
}

.privilege {
    display: flex;
    justify-content: space-around;
    padding: 0 34px 0 24px;
    /* width: 105%; */
}

.privilege a {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/Ellipse2.jpg);
    background-repeat: no-repeat;
    font-size: 33.2px;
    font-weight: 300;
    color: #656565;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    padding-bottom: 37px;
    width: 33.3%;
    margin-bottom: 65px;
}

.privilege a:last-child {
    width: 33.4%;
}

.privilege span {
    color: #ffffff;
    padding: 0 12px;
}

.privilege a:hover {
    border-bottom: 1px solid #add136;
    background-image: url(../images/Ellipse.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;

}

h3.presentation {
    font-family: 'Open Sans', sans-serif;
    font-size: 25.2px;
    font-weight: 400;
    color: #add136;
    text-transform: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.glasses {
    float: left;
    padding: 46px 105px 119px 106px;
}

.presentation_desc {
    margin-bottom: 107px;
}

p.presentation_left {
    text-align: left;
    opacity: 0.67;
    font-family: 'Open Sans', sans-serif;
    font-size: 17.2px;
    font-weight: 400;
    color: #606060;
    line-height: 1.8;
    padding-right: 31px;
}

.colum_left {

    width: 50%;
    background: #e2f8ff;
    float: left;
}

.colum_right {

    width: 50%;
    background: #f5f9eb;
    float: left;
}

h3.find {
    font-family: 'Montserrat', sans-serif;
    font-size: 23.2px;
    font-weight: 600;
    color: #515151;
    margin: 0;
    padding: 46px 0 17px 0;
}

p.find {
    font-family: 'Open Sans', sans-serif;
    font-size: 17.2px;
    font-weight: 400;
    color: #515151;
    line-height: 1.8;
    padding-right: 27px;
}

.find_images {
    float: left;
    padding: 84px 42px 109px 5px;
}

.colum_right img.find_images {
    float: left;
    padding: 76px 56px 137px 52px;
}

button.find {
    width: 187px;
    background-color: #26a6d1;
    border: none;
    border-radius: 10px;
    padding: 19px 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14.9px;
    font-weight: 600;
    color: #ffffff;
}

.colum_right button {
    background-color: #add136;
}

.container_2 {
    max-width: 510px;
    margin: 0 auto;
}

h2.proposal {
    font-family: 'Open Sans', sans-serif;
    font-size: 29.2px;
    font-weight: 600;
    color: #515151;
    margin: 80px 0 7px 0;
}

.proposal {
    padding-left: 20px;
}

p.proposal {
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    width: 80%;
    float: left;
}

.proposal_left {
    overflow: hidden;
}

button.proposal {
    border: 1px solid #b6b6b6;
    background: none;
    color: #515151;
    opacity: 0.7;
    font-weight: 600;
    margin-top: 5px;
    float: left;
}

.options {
    overflow: hidden;
}

.options_container {
    margin-top: 34px;
    /*    background-image: url(../images/london_1.jpg);*/
    background-position: 0px 0px;
    background-repeat: no-repeat;
    /* background: #f9f9f9; */
    background-size: cover;
    float: left;
    width: 29.5%;
    margin: 0 19px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    padding-top: -3px;
    overflow: hidden;
    background-color: #fafafa;
}


img.main_img {
    position: absolute;
    top: 0px;
    z-index: 0;
}

.triangle {
    background-image: url(../images/triangle.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-transform: uppercase;
    padding: 0px 0;
    margin: 0;
    padding-bottom: 250px;
    z-index: 1;
    position: inherit;
}

.action_new {
    position: absolute;
    top: 0px;
    left: 7px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    color: #ffffff;
    z-index: 1;
}

.grb {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 8px 12px;
    font-size: 16.6px;
    font-weight: 400S;
    color: #ffffff;
    background-color: #26a6d1;
    border-radius: 5px;
    position: absolute;
    top: 149px;
    left: 142px;
    z-index: 3;
}

.options_container span {
    font-family: 'Open Sans', sans-serif;
    font-size: 17.2px;
    font-weight: 700;
    color: #484848;
    padding: 0 24px 17px 24px;
}

.description_action {
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 400;
    color: #484848;
    padding: 0 20px 23px 20px;
}

.progress_bar {
    position: relative;
    top: -30px;
    padding: 0 10px;
}

img.bar {
    position: absolute;
    top: 0px;
    padding: 10px;
}

img.progress {
    position: absolute;
    top: 0px;
    padding: 10px;
}

.progress_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 600;
    color: #8d8d8d;
    overflow: hidden;
    padding: 0 22px 0px 17px;
}

.progress_text p:first-child {
    float: left;
}

.progress_text p:last-child {
    float: right;
}

.options_container > hr {
    color: #d6d6d6;
    margin: 0 25px 0px 23px;
    opacity: 0.7;
}

.details {
    float: right;
}

a.see_details {
    text-decoration: none;
    padding: 25px 22px 25px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15.2px;
    font-weight: 600;
    color: #484848;
    opacity: 0.85;
    display: block;
}

a.see_details::after {
    margin: 10px;
    background: url(../images/triangle_2.png) no-repeat top left;
    content: "";
    padding: 0px 8px;
}

.full_width_footer {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    /* background-position: top left; */
}

.slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 39.2px;
    font-weight: 600;
    color: #9ec02d;
    text-align: center;
}

.comments {
    background: url(../images/dialog.png) no-repeat;
    background-position: top left;
    width: 397px;
    margin: 103px 0 0 33px;
}

.comments h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21.2px;
    font-weight: 600;
    color: #9ec02d;
    text-align: center;
    padding: 21px 10px;
    margin: 0;
}

p.description_action:last-child {
    margin: 0;
    padding-bottom: 50px;
}

.comments_author {
    padding-left: 53px;
    display: flex;
    padding-bottom: 40px;
}

.comments_author span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15.2px;
    font-weight: 600;
    color: #494949;
    align-self: center;
    padding-left: 18px;
}

.comment_one {
    float: left;
}

.comment_two {
    float: right;
}

.sponsors {
    margin: 0 auto;
    padding: 45px 0;
}

footer hr {
    opacity: 0.11;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    font-weight: 400;
    color: #848484;
    text-align: center;
}
